.chat{
height: 100vh;
}
.chat__inner{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
}
.sidebar{
    background: var(--color-background);
    color: var(--color-white);
}

.sidebar__header{
    
    text-align: center;
    margin: var(--p-2) 0;
}

.sidebar__channel{
    margin: calc(var(--p-4) * 2) 0;
}

.sidebar__channel h4{
    margin-left: var(--p-2);

}

.sidebar__channel h5{
    /* margin-left: var(--p-3); */
    padding: var(--p-1);
}

.sidebar__channel__list > div {
    cursor: pointer;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: var(--p-3);
}

.sidebar__channel__list  :hover{
    background: var(--color-secondary);
}
