.sidebar__header {
	text-align: center;
	margin: var(--p-2) 0;
}

.sidebar__channel {
	margin: calc(var(--p-4) * 2) 0;
}

.sidebar__channel__list > div {
	cursor: pointer;
	display: flex;
	justify-content: end;
	align-items: center;
	padding-left: var(--p-3);
}

.sidebar__channel__list :hover {
	background: var(--color-secondary);
}
.ui.menu .item {
	color: rgb(180, 180, 185) !important;
}

.clickable:hover {
	cursor: pointer;
}

.ui.menu .item.active {
	background: #1164a3 !important;
}
