.ui.menu .item {
	color: rgb(180, 180, 185) !important;
}

.clickable:hover {
	cursor: pointer;
}

.ui.menu .item.active {
	background: #1164a3 !important;
}
.Semantic-Modal {
	top: unset !important;
	right: unset !important;
	bottom: unset !important;
	left: unset !important;
}
