div .card {
	background-color: #e4e4e4;
}

h3 {
	font-family: Times New Roman;
	font-weight: bold;
}
hr {
	border-bottom: solid white 1px;
}

input {
	background-color: red;
	color: black;
}

::placeholder {
	color: white;
}
